<div id="question-cont-<%= question.id %>" class="panel panel-default">
    <div class="panel-heading"><%= "#{question.name} From #{question.from}" %></div>
    <div class="panel-body"><%= question.question %></div>
</div>