<% provide(:title, "Question Monitor") %>
<div class="container">
 
  <form id="input-form" class="form-inline">
    <div class="form-group">
      <input id="name" type="text" class="form-control" placeholder="Name" autofocus />
    </div>
    <div class="form-group">
      <input id="from" type="text" class="form-control" placeholder="From" autofocus />
    </div>
    <button class="btn btn-primary" type="submit">Send</button>
    <div class="form-group" style="display:block;">
      <textarea style="width:495px" id="question" type="text" class="form-control" placeholder="Enter Question text here!" autofocus ></textarea>
    </div>
  </form>
  <div class="page-header">
    <h1>Question</h1>
  </div>
  <div id="chat-text">
    <%- @questions.each do |question| %>
      <div class="panel panel-default">
        <div class="panel-heading"><%= "#{question.name} From #{question.from}" %></div>
        <div class="panel-body"><%= question.question %></div>
      </div>
    <%- end %>
  </div>
</div>
