<% provide(:title, "Moderator Monitor") %>

<div class="moderator monitor row">
  <div class="page-header">
    <h1>Moderator Questions Monitor</h1>
  </div>
  
  <div id="unselected-questions-cont" class="questions-cont unselected col-md-6">
    <h4>UnSelected</h4>
    <%- @questions.each do |question| %>
    	<%= render partial: "moderator_question_form", 
  		  locals: {question: question} %>
    <%- end %>
  </div>
  
  
  <div id="selected-questions-cont" class="questions-cont selected col-md-6">
    <h4>Selected</h4>
    <%- @selected_questions.each do |question| %>
    
    	<%= render partial: "moderator_question_form", 
  		  locals: {question: question} %>
  		  
    <%- end %>
  </div>
</div>


<%= render 'moderator_monitor_js' %>
