<% provide(:title, "Moderator Monitor") %>

<div id="moderator-monitor" class="moderator-monitor row">
  
  <h4>UnSelected</h4>
  <div id="unselected-questions-cont" class="questions-cont unselected col-md-6">
    <%- @questions.each do |question| %>
    	<%= render partial: "moderator_question_form", 
  		  locals: {question: question} %>
    <%- end %>
  </div>
  
  
  <h4>Selected</h4>
  <div id="selected-questions-cont" class="questions-cont selected col-md-6">
    <%- @selected_questions.each do |question| %>
    
    	<%= render partial: "moderator_question_form", 
  		  locals: {question: question} %>
  		  
    <%- end %>
  </div>
</div>

<%= render(:partial => 'moderator_monitor.js', :formats => [:js] ) %>

